@inherits RazorSliceHttpResult<DateTime>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello from Razor Slices!</title>
</head>
<body>
    <p>
        Hello from Razor Slices! The time is @Model
    </p>
</body>
</html>
