<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    internalLogLevel="Info"
    internalLogFile="/logs/internal.txt">

  <variable name="logDir" value="./logs/" />

  <extensions>
      <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- https://github.com/NLog/NLog/wiki/AsyncWrapper-target -->
  <!-- overflowAction="Block"-->
  <!-- Block - The application-thread will block until the background-writer-thread has taken the next batch. Avoids loosing important logevents, but can block all application-threads. -->
  <!-- fileName="./logs/errors_${shortdate}.log" -->

  <!-- TODO: targets or target + async-->
  <!--<targets async="true">-->
      <targets>
          <target xsi:type="Console" name="c">
              <layout xsi:type="JsonLayout" includeEventProperties="true" indentJson="true">
                  <attribute name="endp" layout="${aspnet-request-endpoint}"/>
                  <attribute name="url" layout="${aspnet-request-url}"/>
                  <attribute name="q" layout="${aspnet-request-querystring}"/>
                  <attribute name="body" layout="${aspnet-request-posted-body}"/>
                  <attribute name="ip" layout="${aspnet-request-ip}"/>

                  <attribute name="time" layout="${longdate}"/>
                  <attribute name="lvl" layout="${level:upperCase=true}"/>
                  <attribute name="log" layout="${logger}"/>

                  <attribute name="exc" layout="${exception}"/>
                  <attribute name="id" layout="${aspnet-request-connection-id}"/>
                  <!--<attribute name="" layout=""/>-->
                  <!--<attribute name="" layout=""/>-->
                  <!--<attribute name="" layout=""/>-->
                  <!--<attribute name="" layout=""/>-->
              </layout>
          </target>

          <target xsi:type="Console" name="cm">
              <layout xsi:type="JsonLayout" includeEventProperties="true" indentJson="true">
                  <attribute name="mes" layout="${message}"/>

                  <attribute name="time" layout="${longdate}"/>
                  <attribute name="lvl" layout="${level:upperCase=true}"/>
                  <attribute name="log" layout="${logger}"/>

                  <attribute name="exc" layout="${exception}"/>
                  <attribute name="id" layout="${aspnet-request-connection-id}"/>
              </layout>
          </target>

      <!--</targets>-->
  </targets>

  <rules>
      <!--<logger name="*" minlevel="Error" writeTo="c" />-->

      <logger final="true" name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="cm" />
      <logger final="true" name="Microsoft.AspNetCore.HttpLogging.HttpLoggingMiddleware" minlevel="Info" writeTo="c" />

      <!-- black box (filter out) -->
      <logger final="true" name="Microsoft.*" maxlevel="Info"/>
      <!--<logger name="System.Net.Http.*" maxlevel="Info" final="true" />-->

      <logger name="*" minlevel="Trace" writeTo="cm" />
  </rules>
</nlog>
